extends layout

block content
  h1= title 
  form(action="", method="post") 
    label(for="username") Username: 
    input(type="text" id="username" name="username" value=(username||"") required=true)
    label(for="password") Password: 
    input(type="text" id="password" name="password" required=true)
    button(type="submit") Submit 
  a(href="/register") Register 

  if errors
    ul
      for error in errors
        li!= error.msg

  if msg 
    h1 #{msg}
